<h2>Your Pragmatic Cart</h2>
<ul>    
  <% @cart.line_items.each do |item| %>
    <%= image_tag(item.product.image_url) %>  
    <li><%=	item.quantity%> &times; <%= item.product.title %></li>
  <% end %>
</ul>